# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# st2/st3 project files
*.sublime-*

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant files
/.vagrant

# yii 2 public assets folder
web/assets/*

# upload folder
web/upload/*

# runtime folder
runtime/*

# current env file 
config/current_env

# classmap produced by classmap command
config/classes.php

# db dumps produced by db command
*.sql
